<button class="btn btn-default" id="comment-button" data-toggle="collapse" data-target="#post_<%= post.id %> #comment-section">
  Comments
</button>
<span data-toggle="tooltip" data-placement="top" title="" class="time user-name" data-original-title= "">
  (<%= post.comments.count%>)
</span>